:root {
  --bg: #292d3e;
  --fg: #d4c4c4;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 85vw;
  background-color: var(--bg);
  font-family:
    'Rubik',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

h1 {
  letter-spacing: -0.1rem;
}

h1 sup {
  font-weight: normal;
  font-size: 16px;
}

* {
  color: var(--fg);
}

main {
  height: 100%;
}

.table {
  height: 60vh;
  overflow-x: scroll;
  border: 1px solid #676d87;
  border-radius: 8px;
  box-shadow: -5px 0 30px 0px rgba(63, 59, 79, 0.75);
}

table {
  border-collapse: collapse;
}

table, table th, table td {
  border: 1px solid #3d4155;

}

table tr, table td, table th {
  padding: 0.5rem;

}

table th {
  cursor: pointer;
}

table tr:has(th) {
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(63 59 79 / 75%);
  z-index: 1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

header h1 {
  font-size: clamp(2rem, 0.8rem + 7vw, 4rem);
}

nav {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  transition-duration: 250ms;
  color: #676d87;
}

nav a:hover {
  text-decoration: underline;
  color: var(--fg)
}