[Unit]
Description=Upload random data and run download benchmark

[Service]
WorkingDirectory=WORKDIR
ExecStart=WORKDIR/uploadAndTest.sh ARGS
Restart=on-failure
RestartSec=10s
StartLimitInterval=5min
StartLimitBurst=3

[Install]
WantedBy=default.target