[Unit]
Description="Upload files and run benchmark: %I"

[Timer]
OnUnitActiveSec=12h
Unit=uploadAndTest@%i.service
Persistent=true

[Install]
WantedBy=default.target