<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.css"
/>

    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/fonts.css" />
  </head>
  <body>
  <header>
        <h1>StorageBeat<sup>⁂</sup></h1>
        <div>Decentralized storage index</div>
    </header>
    <nav>
      <a href="/">Table</a>
      <a href="/glossary">Glossary</a>
    </nav>
    {{ content }}
  </body>
</html>