<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.css"
/>

    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/fonts.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
  <header>
        <h1>StorageBeat</h1>
        <div>Decentralized storage index (alpha version)</div>
    </header>
    <nav>
      <a href="/">Table</a>
      <a href="/glossary">Glossary</a>
      <a href="/about">About</a>
    </nav>
    {{ content }}
  </body>
</html>